{% load static %}
<div class="container py-5" id="accolades-section">
    <div class="row">
        <div class="col">
            <h2 class="fw-bold text-center">707,656 Moves and Counting</h2>
            <p class="text-center pb-3">HireAHelper has more than 16 years of experience giving people the best moves of their lives.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg text-center">
            <div class="d-flex align-items-end mb-3" style="height: 60px;"><img loading="lazy" class="accolades-logo flex-grow-1" style="width: 120px;" width="120" height="45" src="{% static 'images/logo_bbb.svg' %}" data-pin-nopin="true" alt="Better Business Bureau Logo"></div>
            <p>We're an A+ rated business on the Better Business Bureau (BBB).</p>
        </div>
        <div class="col-12 col-md-6 col-lg text-center">
            <div class="d-flex align-items-end mb-3" style="height: 60px;">
                <a class="flex-grow-1" href="https://www.braintreegateway.com/merchants/z8jmsswyz6whb5qr/verified" target="_blank" rel="noreferrer">
                    <img loading="lazy" class="accolades-logo" style="width: 120px;" width="120" height="32" src="{% static 'images/logo_bbb1.webp' %}" alt="BrainTree Badge" data-pin-nopin="true">
                </a>
            </div>
            <p>We use Braintree to ensure your transactions.</p>
        </div>
        <div class="col-12 col-md-6 col-lg text-center">
            <div class="d-flex align-items-end mb-3" style="height: 60px;"><a class="flex-grow-1" href="https://www.trustpilot.com/review/hireahelper.com" rel="noreferrer" title="Read Hire A Helper reviews on TrustPilot.com" target="_blank"><img loading="lazy" class="accolades-logo" style="width: 120px;" width="120" height="29" src="{% static 'images/logo_bbb2.svg' %}" alt="Trustpilot Logo" data-pin-nopin="true"></a></div>
            <p>People love us on <a href="https://www.trustpilot.com/review/hireahelper.com" rel="noreferrer" target="_blank">TrustPilot</a>.</p>
        </div>
        <div class="col-12 col-md-6 col-lg text-center">
            <div class="d-flex align-items-end mb-3" style="height: 60px;"><span class="fa fa-heart fa-2x flex-grow-1" style="color: #bb515d;"></span></div>
            <p>Our moms are very proud of us. <br>You will be, too.</p>
        </div>
    </div>
</div>