<div class="container-fluid py-5" id="video-section">
    <div class="row">
        <div class="col">
            <h2 class="fw-bold text-center pb-3 pb-lg-4">How  
                Moving With Status Makes Moving Simple</h2>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col content__imgwrap mb-4 mb-md-0">
            <script src="/_static/ts/public/wistia-script-helper.min.js?ver=FsOJ8HbEikIsBYb5hM2kgCm9Cn4c6n%2FroKegTdphBDE%3D"></script>
<script>
window.addEventListener('DOMContentLoaded', (event) => {
    Hireahelper.Public.WistiaScriptHelper.init();
});
</script>
<style>
#custon-play-button {
    background-color: rgb(255 102 0 / 60%);
    border-color: rgb(255 102 0 / 0%);
}
.play-button:hover {
    background-color: rgb(51 63 72);
    border-color: rgb(51 63 72);
}
.fa-play {
    line-height: 0.75em;
}
i {
    color: #ff6600;
}
video {
    
    object-fit: scale-down;
}
</style>
<div class="position-relative text-center wistia-preview">
<a href="#video" id="custom-play-button" style="display: flex;" class="z-index-1 h-100 position-absolute start-0 end-0 align-items-center justify-content-center text-center text-decoration-none" data-wistia-id="w01htcw20y" aria-label="Play Video">
                <video class="img-fluid" autoplay="" loop="" muted="" playsinline="" width="576" height="324">
            <source data-src="https://media.hireahelper.com/public/homepage/homepage-wistia-preview.webm" type="video/webm" src="https://media.hireahelper.com/public/homepage/homepage-wistia-preview.webm">
            <source data-src="https://media.hireahelper.com/public/homepage/homepage-wistia-preview.mp4" type="video/mp4" src="https://media.hireahelper.com/public/homepage/homepage-wistia-preview.mp4">
            Your browser does not support the video tag.
        </video>
</a>
<div class="wistia_responsive_padding flex-grow-1" style="padding:56.25% 0 0 0;position:relative;">
    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        
        <div class="wistia_embed wistia_async_w01htcw20y popover=false popoverAnimateThumbnail=true autoPlay=false videoFoam=true controlsVisibleOnLoad=false volume=0.5" style="display:inline-block;height:100%;position:relative;width:100%">
            &nbsp;
        </div>
    </div>
</div>
</div>
        </div>
        <div class="col content__textwrap">
            <div class="content__content_main ms-3">
                <h3 class="pb-3 pb-lg-4 fw-bold h5"><i class="fa fa-chevron-right pe-2"></i>Search for local movers by city, moving service, and availability</h3>
                <h3 class="pb-3 pb-lg-4 fw-bold h5"><i class="fa fa-chevron-right pe-2"></i>Compare prices and reviews</h3>
                <h3 class="pb-3 pb-lg-4 fw-bold h5"><i class="fa fa-chevron-right pe-2"></i>Book local movers today</h3>
                <h3 class="pb-3 pb-lg-4 fw-bold h5"><i class="fa fa-chevron-right pe-2"></i>You're moved! But without the stress</h3>
                <div class="text-center text-md-start"><a href="/my-move/how-it-works/" class="btn btn-base-light-50 mt-0 mt-xl-4" aria-label="Get more info on how moving works with HireAHelper">See How It Works</a></div>
            </div>
        </div>
    </div>
</div>