<style>
#rating {
    margin-top: 50px;
}

i {
    color: #ff6600;
}
</style>

<div id="rating" class="bg-light p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row pb-4">
                    <div class="col-lg-5 text-center text-lg-start">
                        <div class="h4 mb-0 fw-bold">
                            4.8 out of 5
                            <div class="star-rating py-2">
                                <i class="fa fa-star w-15r"></i>
                                <i class="fa fa-star w-15r"></i>
                                <i class="fa fa-star w-15r"></i>
                                <i class="fa fa-star w-15r"></i>
                                <i class="fa fa-star-half-alt w-15r"></i>
                        
                            </div>
                        </div>
                        <div class="mb-1">251,330 reviews</div>
                    </div>
                    <div class="col-lg-5">
                            <div class="row">
                                <div class="col-auto">
                                    <span class="small">5 <i class="fa fa-star"></i></span>
                                </div>
                                <div class="col">
                                    <div class="progress mt-2" style="height: 8px;">
                                        <div class="progress-bar bg-dark" style="width: 88.7%; "></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <span class="small">88.7%</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <span class="small">4 <i class="fa fa-star"></i></span>
                                </div>
                                <div class="col">
                                    <div class="progress mt-2" style="height: 8px;">
                                        <div class="progress-bar bg-dark" style="width: 5.3%; "></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <span class="small">5.3%</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <span class="small">3 <i class="fa fa-star"></i></span>
                                </div>
                                <div class="col">
                                    <div class="progress mt-2" style="height: 8px;">
                                        <div class="progress-bar bg-dark" style="width: 1.9%; "></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <span class="small">1.9%</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <span class="small">2 <i class="fa fa-star"></i></span>
                                </div>
                                <div class="col">
                                    <div class="progress mt-2" style="height: 8px;">
                                        <div class="progress-bar bg-dark" style="width: 2.4%; "></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <span class="small">2.4%</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <span class="small">1 <i class="fa fa-star"></i></span>
                                </div>
                                <div class="col">
                                    <div class="progress mt-2" style="height: 8px;">
                                        <div class="progress-bar bg-dark" style="width: 1.8%; "></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <span class="small">1.8%</span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>


            <div class="col">
               <h3>Thousands of Local Mover Reviews</h3>
HireAHelper has worked more than 16 years curating the best movers from around the country, which means we have the highest quality movers you can book anywhere online. All MC#/DOT licenses, reviews, and insurance policies are clearly listed on every profile, so you'll feel extra good about your moving company.
            </div>
        </div>
    </div>
</div>