<style>
.nue {
    color: #ff6600;
}
</style>

<hr>
<div class="container py-5" id="why-hireahelper-section">
    <div class="row">
        <div class="col">
            <h2 class="fw-bold text-center pb-3 pb-lg-4">Why Choose HireAHelper?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg">
            <!-- <div class="text-center text-lg-start"><img width="256" height="256" alt="Hand holding a cell phone comparing prices to signs" class="img-fluid mb-4 w-50 w-md-75" src="/_static/img/public/illustrations/Affordable-256.png?ver=KH2VLTM1I%2FJXwk1cBWV72W17FhxwiNxWdW0I%2BBTp%2FNs%3D" loading="lazy"></div> -->
            <h3 class="pb-2 text-center text-lg-start fw-bold h5 nue">Simple, Upfront Pricing</h3>
            <p class="pb-4 pb-lg-0">Each long-distance and local mover on HireAHelper is displayed in one sortable list with one price, making it the web's easiest place to compare all your local moving company options.</p>
        </div>
        <div class="col-12 col-md-6 col-lg">
            <!-- <div class="text-center text-lg-start"><img width="256" height="256" alt="Man comparing reviews on his phone" class="img-fluid mb-4 w-50 w-md-75" src="/_static/img/public/illustrations/Reviews-256.png?ver=vjVmyMNYzxZQw7Spjm4bdfA4pp%2BXlvCgeSx3U0U1Lz4%3D" loading="lazy"></div> -->
            <h3 class="pb-2 text-center text-lg-start fw-bold h5 nue">Real Customer Reviews</h3>
                <p class="pb-4 pb-lg-0">Only paying customers can leave reviews on HireAHelper, so every review is honest and verified. The local movers on HireAHelper know you'll be leaving them an unfiltered review. The more five-star reviews they get, the more customers choose them.</p>
        </div>
        <div class="col-12 col-md-6 col-lg">
            <!-- <div class="text-center text-lg-start"><img width="256" height="256" alt="Woman with a headset on looking at a computer" class="img-fluid mb-4 w-50 w-md-75" src="/_static/img/public/illustrations/Move-Helpers-256.png?ver=drcqpSDJvD4WY2z2YSDd88qwbKRMggIis7MKkzq9Lhk%3D" loading="lazy"></div> -->
            <h3 class="pb-2 text-center text-lg-start fw-bold h5 nue">Amazing Customer Support</h3>
            <p class="pb-4 pb-lg-0">We're here watching the phones, and we're ready for your local or long-distance moving questions. Our in-house team of moving experts are ready 7 days a week to spring into action and make your moving day as carefree as possible.</p>
        </div>
        <div class="col-12 col-md-6 col-lg">
            <!-- <div class="text-center text-lg-start"><img width="256" height="256" alt="Mover holding boxes giving thumbs up to person holding cell phone" class="img-fluid mb-4 w-50 w-md-75" src="/_static/img/public/illustrations/Easy-Account-256.png?ver=nV%2B4GcZTMpZwqRr%2FRvaQuEQeTASnQv%2BCgJPBJ%2FgXRcI%3D" loading="lazy"></div> -->
            <h3 class="pb-2 text-center text-lg-start fw-bold h5 nue">Service Is Guaranteed</h3>
            <p class="pb-4 pb-lg-0">If your move doesn't go how it should, we'll work with your moving company to resolve the issue, or refund you up to 100% of the cost of the job (capped at $1,000.00.)</p>
        </div>
    </div>
</div>
<hr>